body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    height: 8rem;
    background-image: url("/CSS/desafio_css/assets/img/fondo_header.jpg");
    background-position: center;
    padding: 1rem;
    color: #000000;
    border-bottom: 10px solid #C70039;
    text-align: center;
}

.header h1{
    padding: 1rem;
    margin: auto;
    font-size: 3rem;
}

.p_header{
    font-size: 1.5rem;
    margin: auto;
}

.productos{
    width: 80%;
    margin: auto;
}

.title_product{
    font-size: 1.5rem;
    font-weight: bold;
    margin: auto;
    padding: 0.5rem;
}

.productos td{
    width: 50%;
    padding: 2rem;
}

.p_description{
    font-weight: bold;
    margin: auto;
    padding: 0.5rem;
}

.productos img{
    width: 100%;
    border-bottom: 4px solid #C70039;
    border-right: 2px solid #C70039;
}

.price{
    margin: auto;
    padding: 0.5rem;
}

.footer{
    height: 5em;
    line-height: 5em;
    background-color: #C70039;
    color: #ffffff;
    text-align: center;
    font-weight: 900;
}

.footer p{
    padding: 0px;;
    margin: auto;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    border-bottom: 1.5px solid #ffffff;
  }