body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header{
    height: 8em;
    background-image: url("/CSS/desafio_css/assets/img/fondo_header.jpg");
    /*background-size: center;*/
    background-position: center;
    padding: 1rem;
    color: black;
    border-bottom: 10px solid #C70039;
    text-align: center;
}

.header h1{
    padding: 1rem;
    margin: 0px;
    font-size: 3rem;
}

.p_header{
    font-size: 1.5rem;
    margin: 0px;
}

.productos{
    width: 80%;
    margin: auto;
}

.productos td{
    width: 50%;
    padding: 2em;
}

.productos img{
    width: 100%;
    border: solid 1px #ddd;
}

.footer{
    height: 3em;
    line-height: 3em;
    background-color: #C70039;
    color: white;
    text-align: center;
    font-weight: 900;
}